# ========================= Python =========================
__pycache__/
*.py[cod]
*$py.class

# Packages installés / build
*.egg
*.egg-info/
dist/
build/

# Virtual environments
venv/
.env/
.env.*

# ========================= IDE =========================
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# ========================= OS =========================
Thumbs.db
.DS_Store

# ========================= Logs / temporaires =========================
*.log